<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>City Club: {{ title or renderData.title or metadata.title }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400&display=swap" rel="stylesheet">
  
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>  
</head>
