<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>City Club Nelson: {{ title or renderData.title or metadata.title }}</title>
  <meta name="description" content="A charter club since 1890, City Club has had a long local history; initially operating as a business network club in the central city, its new location at 1 Kinzett Terrace, Nelson. With the best views of the Haven, Nelson City Club is an easy-going, safe place where both young and old can enjoy a beer (fully licensed bar), have a meal (onsite kitchen), and play a game of pool, darts or snooker. The venue can also be hired.">
  <meta name="msvalidate.01" content="7A49F8D56558E91C0F2387525A36B04A" />
  <!--<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400&display=swap" rel="stylesheet">//-->
  
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>  
</head>
