<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>						
			<em>
				<a href="{{ '/' | url }}"><img src={{ metadata.headerImage }} alt="Site logo and name"></a>
			</em>
			
			{% include "components/nav.njk" %}
					
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
